apiVersion: apps/v1
kind: Deployment
metadata:
  name: micomunapp-api
  labels:
    app: micomunapp-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: micomunapp-api
  template:
    metadata:
      labels:
        app: micomunapp-api
    spec:
      containers:
        - name: micomunapp-api
          image: micomunapp-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: NODE_ENV
              value: "production"
            - name: POSTGRES_HOST
              value: "postgres"
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_USER
              value: "micomunapp"
            - name: POSTGRES_PASSWORD
              value: "micomunapp_secret"
            - name: POSTGRES_DB
              value: "micomunapp_db"
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
